
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;


}

.gad{
    background-color: rgb(58, 56, 56);
    display: flex;
    color: white;
    justify-content: space-between;

}
.get ul{
     display: flex;
     list-style: none;
     
}
#gt{
    color: yellow;
}
.get li{
    margin-top: 4%;
    margin-left: 10%;
   width: 170px;
}
#sign{
    margin-right: 2000%;
    width: 150%;
    padding: 20%;
    border-radius: 5px;
    background-color: yellow;
    margin-top: 50%;
    margin-left: 240%;
    margin-top: -80%;
    margin-bottom: 10%;
 }

.cat{
    margin-left: 80%;
    margin-top: 70%;
}
.category{
    display: grid;
    height: 90%;
    width: 10%;
    background-color: rgb(29, 37, 31);
}
#di{
    background-color: aquamarine;
    height: 90%;
    width: 40%
} 
.trust{
    display: flex;
    background-color: rgb(173, 173, 226);
    margin-top: 5%;
    padding: 2%;
    margin-left: 7%;
    margin-right: 7%;
}
#img{
    width: 90%;
    height: 90%;
    margin-left: -40%;
}
.imgs{
    margin-top: 6%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    gap: 120px;
}
.game{
    width: 50px;
    height: 50px;
    padding: 4%;
    justify-content: space-between;
    margin-right: 2%;
    

}

.divs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
    border: solid 0.5px;
    border-style: hidden;
    position: relative;
    top: 25px;
    left: 10%;
    width: 15%;
    height: 3vh;
   
}
#d1{
background-color: yellow;
}
#d2{
   background-color: black;
}
.adivs{
    border: solid 0.5px;
    width: 15%;
    height:10vh;
    position: relative;
    top: 35px;
    margin-left: 10%;
}
#c{
    margin-left: 30%;
    border: solid 0.5px;
    border-top: hidden;
    border-bottom: hidden;
    border-right: hidden;
    position: relative;
    bottom:10px ;
}



.earphone{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6%;
    justify-content: space-between;
}
.camera{
    width: 48%;
    height: 90%;
}
.camer{
    width: 48%;
    height: 905; 
}

.next{
    display: flex;
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: space-between;
    background-color: rgb(173, 173, 226);

    
}



.smart{
    width: 50%;
    height: 50%;
}

.test{
    margin-left: 40%;
    margin-top: 6%;
}


.aliq{
display: flex;
margin-left: 7%;
margin-right: 7%;
margin-top: 8%;
justify-content: space-between;
}
.footer{
    display: flex;
    list-style: none;
    margin-top: 5%;
    background-color: rgb(58, 56, 56);
    color: white;
    text-size-adjust: 20px;
    padding: 60px;
}

ul{
    list-style: none;
    line-height: 190%;
}

#gage{
    color: yellow;
}

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: white;
    border: none;
}
.h2{
    font-size: 10px;
}
.prods{
    border: solid rgb(208, 223, 208);
    margin-bottom: 3%;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    padding-bottom: 4%;
}
#products img{
    width: 80%;
    height: 50%;
}
.imgs{
    width: 50%;
    /* height: 60%; */
 }

#products button{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
} 
.input{
    padding-right: 10%;
    background-color: yellow;
}
.news{
    display: flex;
    margin-left: 20%;
    margin-right: 15%;
    justify-content: space-between;
    margin-top: 10%;
}
.device{
    margin-top: 3%;
    margin-left: 10%;
    width: 100%;
}
.buto{
    padding: 3%;
    padding-right: 3%;
    background-color: yellow;
    border: none;
    margin-top: 2%;
}
.buton{
    padding: 2.5%;
    padding-right: 3%;
    border: solid white;
    margin-left: 2%;
    background-color: rgb(173, 173, 226);
    color: white;
    margin-top: 2%;

}
.seventy{
    margin-top: 4%;
    margin-left: 10%;
}
.off{
    color: yellow;
}
.patn{
    font-size: xxx-large;
}

/* media querry */
